@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
input {
  border: 1px solid rgb(60, 55, 55);
  border-radius: 18px;
  padding: 3px 8px;
  margin-top: 10px;
  width: 100%;
}
.connexion {
  height: 50%;
  display: block;
}
